<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Gmail suite" verbose="1" >
	<parameter name="username" value="automatization.test@gmail.com"/>
	<parameter name="password" value="fw748fg099a"/>
	<parameter name="title" value="Inbox"/>
	<parameter name="address" value="automatization.test@gmail.com"/>
	<parameter name="subject" value="Second letter"/>
	<parameter name="text" value="Hello! The framework has created the second draft."/>
	<test name="Gmail test">
		<packages>
			<package name="by.epam.vadzimnovikau1.module6" />
		</packages>
	</test>
</suite>