<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<!--<suite name="Gmail suite" parallel="classes" thread-count="2">-->
    <suite name="Gmail suite" verbose="1">


    <test name="Gmail test">
        <parameter name="browser" value="chrome"/>
        <!--<parameter name="browser" value="firefox"/>-->

        <classes>
            <!--<class name="framework.test.GmailTestDecoratorWithSingleton" />-->
            <class name="framework.test.BaseTest"/>
            <class name="framework.test.GmailTestFactoryMethod" />
        </classes>
    </test>


</suite>
